# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

src/doc/

src/main/java/au/

src/main/java/mcp/

src/main/java/squeek/

src/main/resources/assets/waila/

src/main/resources/assets/wailaharvestability/
